<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <!-- Simple JSON Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd HH:mm:ss.SSS</pattern>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                    <shortenedLoggerNameLength>36</shortenedLoggerNameLength>
                </loggerName>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <message>
                    <fieldName>message</fieldName>
                </message>
            </providers>
        </encoder>
    </appender>

    <!-- Default profile - INFO logging -->
    <springProfile name="default">
        <logger name="com.example.ticket" level="INFO"/>
        <logger name="com.example.ticket.service" level="INFO"/>
        <logger name="com.example.ticket.repository" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    
    <!-- Local profile - DEBUG logging -->
    <springProfile name="local">
        <logger name="com.example.ticket" level="DEBUG"/>
        <logger name="com.example.ticket.service" level="DEBUG"/>
        <logger name="com.example.ticket.repository" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    
</configuration>
